{% extends "layout.html" %}
{% block content %}
    <form method=post enctype=multipart/form-data>
      <p><input type=file name=file>
         <input type=submit value=Upload>
    </form>
    <div id="demo-contents"></div>
    <div id="base"></div>

    <script type="text/babel">

        function changeSource(e){
            e.preventDefault();
            var elm = e.target;
            var audio = document.getElementById('music');
            audio.src = elm.getAttribute('data-value');
            audio.load();
        };
        document.addEventListener("DOMContentLoaded", function() {
            var _handleFileDrop = function(files, event) {
                console.log(files, event);
            };
            var styles = {border: "1px solid black", width: 600, color: "black", padding: 20};
            var myUploader = React.createElement(
                "div", {className: "my-uploader", style: styles},
                    "This is the \".my-uploader\" div. Try dragging a file!",
                    React.createElement(
                        ReactFileDrop, {onDrop: _handleFileDrop, frame: document, dropEffect: "copy"},
                            "Drop some files here!"
                    )
            );
            React.render(myUploader, document.getElementById("demo-contents"))
        });
        class SongFile extends React.Component{
            render(){
                return(
                    <li id="songSelector" data-value={this.props.songData.source} onClick={changeSource}> {this.props.songData.songName} </li>
                );

            }

        }
        class SongFiles extends React.Component{
            constructor() {
                super();
                this.state = {
                    value: null,
                };
            }
            componentDidMount(){
                this.setState();
            }
            renderSongs(){
                var songButtons = [];
                var tracks = document.getElementsByTagName('source');
                for(var i = 0; i < tracks.length; i++){
                    var data = {
                        source: tracks[i].getAttribute('src'),
                        songName: tracks[i].getAttribute('id')
                    }
                    songButtons.push(<SongFile songData={data} />);
                }
                return <ul>{songButtons}</ul>;
            }
            render(){
                return(
                    <div>
                        {this.renderSongs()}
                    </div>
                );
            }
        }
        class Track extends React.Component{
            render(){
                return (
                    <source className="track" id={this.props.trackData.songName} src={this.props.trackData.source} data-pattern={this.props.trackData.pattern} data-seconds={this.props.trackData.seconds} data-beats={this.props.trackData.beats} data-tempo={this.props.trackData.tempo} className="true" title="false"></source>
                );
            }
        }
        class Play extends React.Component {
            render() {
                return (
                    <button className="playButton" onClick={aud_play_pause}>
                        <i className="fa fa-play" aria-hidden="true" id="playPause"></i>
                    </button>
                );
            }
        }
        class Skip extends React.Component {
            render(){
                return (
                    <button className="playButton" onClick={skip}>
                        <i className="fa fa-chevron-right" aria-hidden="true" id="playPause"></i>
                    </button>
                );
            }
        }
        class Song extends React.Component {
            render(){
                return (
                    <audio type="audio/wav" autostart="false" volume="1.0" preload="auto" src="unknown" id="music">
                    </audio>
                );
            }
        }
        class WavePlayer extends React.Component {
            renderPlay(){
                return <Play />;
            }
            renderMusic(){
                return <SongFiles />
            }
            renderTracks(){
                var tracks = [];
                {% for item in list %}
                    var data = new Object();
                    data.songName = "{{item.name}}";
                    data.source =  "{{item.path}}";
                    data.pattern = "{{item.pattern}}";
                    data.seconds = "{{item.seconds}}";
                    data.tempo  = "{{item.tempo}}";
                    data.beats = "{{item.beats}}";
                    tracks.push(<Track trackData={data} />);
                {% endfor %}
                return <div>{tracks}</div>
            }
            renderAudio(){
                return <Song />;
            }
            renderSkip(){
                return <Skip />;
            }
            render() {
                return (
                    <div className="wavePlayer">
                        {this.renderPlay()}
                        {this.renderSkip()}
                        {this.renderAudio()}
                        {this.renderTracks()}
                        {this.renderMusic()}
                    </div>
                );
            }
        }
        ReactDOM.render(
            <WavePlayer />,
            document.getElementById('base')
        )

    </script>
    <script>
        function skip(){
            var song = document.getElementById("music");
            song.currentTime += 30;
        }
        function aud_play_pause() {
            var mySound = document.getElementById("music");
            if (mySound.paused) {
                 $('#playPause').removeClass('fa fa-play');
                 $('#playPause').addClass('fa fa-pause');
                 startTracks();

            }
            else {
                $('#playPause').removeClass('fa fa-pause');
                $('#playPause').addClass('fa fa-play');
                mySound.pause();
            }
        }
        function startTracks(){
            console.log('line');
            var music = document.getElementById('music');
            if(music.getAttribute('src') == "unknown"){
                startMix();
            }
            else{
               var music = document.getElementById('music');
               music.play();
            }
        };
        function startMix(){
            console.log('line');
            var tracks = document.getElementsByClassName('true');
            var index = Math.floor(Math.random()*tracks.length);
            var music = document.getElementById('music');
            music.src = tracks[index].getAttribute('src');
            tracks[index].title = "true";
            music.play();
            setTrackChange();
        }
        function setTrackChange(timePlaceHolder){
            console.log('line');
            var tracks = document.getElementsByClassName('true');
            var unplayedTracks = [];
            var startTime = 0.0;
            var endTime = 0.0
            var music = document.getElementById('music')
            var trackName = music.getAttribute('src').substring(13);
            var currentTrack = document.getElementById(trackName);
            for(var i = 0; i < tracks.length; i++){
                if(tracks[i].getAttribute('title') === "false"){
                    unplayedTracks.push(tracks[i])
                }
            }
            var i;
            var currentPattern = currentTrack.getAttribute('data-pattern').replace("#", "");
            if(timePlaceHolder){
                i = getBeat(timePlaceHolder, currentTrack.getAttribute('data-tempo'));
            }
            else{
                i = 0;
            }
            while( i < currentPattern.length){
                var subPattern = currentPattern.substring(i, i+4);
                for(var j = 0; j < unplayedTracks.length; j++){
                    var testPattern = unplayedTracks[j].getAttribute('data-pattern').replace("#", "");
                    if(testPattern.indexOf(subPattern) > 0){
                        startTime = getTime( j, unplayedTracks[j].getAttribute('data-tempo'));
                        endTime = getTime(j, currentTrack.getAttribute('data-tempo'));
                        music.addEventListener("timeupdate", function(){
                            if(this.currentTime >= endTime) {
                                changeTrack(unplayedTracks[j].getAttribute('id'), startTime);
                                return;
                            }
                        });
                    }
                }
                i+=4
            }
        }
        function changeTrack(nextTrackId, startTime){
            var music = document.getElementById('music');
            var nextTrack = document.getElementById(nextTrackId);
            nextTrack.title = "true";
            music.src = nextTrack.getAttribute('src');
            music.currentTime = startTime;
            music.play();
            setTrackChange(startTime);
        }
        function getTime( beat, tempo){
            var bps = tempo/60;
            var time = beat/bps;
            return time;
        }
        function getBeat(time, tempo){
            var bps = tempo/60;
            var beat = time*bps;
            return beat;

        }
    </script>
{% endblock %}