<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta charset="UTF-8">
    <title>Eddy</title>
    <script src="{{ url_for('static', filename='js/react.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/react-dom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
</head>
<body>

    <header>
        <div class="container">
            <h1 class="logo">Eddy</h1>
            <strong><nav>
                <ul class="menu">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                </ul>
            </nav></strong>
        </div>
    </header>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>