{% extends "layout.html" %}
{% block content %}
  <h2>Login</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="" method=post name="login">
    {{ form.hidden_tag() }}
    <dl>
        <dt>Username:
        <dd>{{ form.username }}
        <dt>Password:
        <dd>{{ form.password }}
        <dd>{{ form.remember_me }} Remember Me
        <dd><input type=submit value=Login>
    </dl>
  </form>
<a href="{{ url_for('register') }}">Register</a>
{% endblock %}